* {
  padding: 0;
  margin: 0;
  font-family: cursive;
}
.cover {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.609));
  background-image: url("/src/assets/img/WallpaperDog-20486865.jpg");
  background-size: cover;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 13em;
}
.container h1,
h4 {
  text-align: center;
  color: #ffff;
}
.startBtn,
.endBtn {
  width: 6em;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}
.balls {
  display: inline-flex;
  justify-content: center;
  margin: 2em;
}